@model SecondMouse.Models.AllServices

@{
    ViewBag.Title = "All Services";
}

<h1>All Services</h1>
<div>
    <h2>Services</h2>
    <table>
        <thead>
        <th>State</th>
        <th>County</th>
        <th>eFile</th>
        <th>RON</th>
        <th>RIN</th>
        <th>Other Service</th>
        <th>Other Service 2</th>
        </thead>
        <tbody>
            @foreach (var service in Model.services)
            {
                <tr>
                    <td>@service.state</td>
                    <td>@service.county</td>
                    <td>@service.eFile</td>
                    <td>@service.RON</td>
                    <td>@service.RIN</td>
                    <td>@service.otherService</td>
                    <td>@service.otherService2</td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Signing Services</h2>
    <table>
        <thead>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>E-mail</th>
        </thead>
        <tbody>
            @foreach (var signingService in Model.signingServices)
            {
                <tr>
                    <td>@signingService.name</td>
                    <td>@signingService.address</td>
                    <td>@signingService.city</td>
                    <td>@signingService.state</td>
                    <td>@signingService.email</td>
                </tr>
            }
        </tbody>
    </table>
</div>